<md-card>
  <md-card-title>
    <h2>Login To Resume</h2>
  </md-card-title>
  <md-card-content>
    <md-card-actions>
      <a md-button (click)="login('google')">By Google</a>
      <a md-button (click)="login('facebook')">By Facebook</a>
      <a md-button (click)="login('twitter')">By Twitter</a>
      <a md-button (click)="login('github')">By Github</a>
      <a md-button (click)="login('email')">By Email</a>
      <a md-button (click)="Login('anonymous')">By Anonymous</a>
    </md-card-actions>
  </md-card-content>
</md-card>