<md-card>
  <md-card-title>
    <h2>{{'Sign Up' | translate }}</h2>
  </md-card-title>
  <md-card-content>
    <form [formGroup]="form">
      <div layout="row" layout-align="space-between center">
        <md-input flex="22" style="max-width: 24%;" placeholder="{{ 'Email' | translate }}" [(ngModel)]="email" id="email" formControlName="email"></md-input>
        <md-input flex="45" style="max-width: 48%;" placeholder="{{'Password' | translate }}" [(ngModel)]="pwd" id="pwd" formControlName="pwd"></md-input>            
      </div>
      <md-card-actions>
        <a md-button (click)="signUp()"><{{ 'Sign Up' | translate }}/a>
        <a md-button (click)="cancel()">{{ 'Cancel' | translate }}</a>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>