<div [dir]="translateService.getDir()">
<md-card>
  <md-card-title>
    <h2>{{title | translate }}</h2>
  </md-card-title>
  <md-card-content>
    <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
      <div layout="row" layout-align="space-between center">
        <md-input #email name='email' formControlName="email" type="email" (change)="elementChanged(email)"
          placeholder="Your email address"
          [class.invalid]="!resetPasswordForm.controls.email.valid && (emailChanged || submitAttempt)">
        </md-input>
      </div>    
    <button md-button type="submit">{{ 'Reset your Password' | translate }}</button>
  </form>
  </md-card-content>
  <md-card-actions>
    <a md-button (click)="createAccount()">{{ 'Create a new account' | translate }}</a>
  </md-card-actions>
</md-card>
</div>