<md-card>
  <md-card-title>
    <h2>{{'Sign Up' | translate }}</h2>
  </md-card-title>
  <md-card-content>
    <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
      <div layout="row" layout-align="space-between center">
        <md-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Your email address"
        [class.invalid]="!resetPasswordForm.controls.email.valid && (emailChanged || submitAttempt)">
        </md-input>
        <md-input #password formControlName="password" type="password"
            (change)="elementChanged(password)"
            placeholder="Your password"
            [class.invalid]="!loginForm.controls.password.valid &&(passwordChanged || submitAttempt)">
        </md-input>
      </div>    
    <a md-button type="submit">{{ 'Reset your Password' | translate }}</a>
  </form>
  </md-card-content>
  <md-card-actions>
    <a md-button  (click)="resetPassword()">{{ 'I forgot my password' | translate }}</a>
    <a md-button (click)="createAccount()">{{ 'Create a new account' | translate }}</a>
  </md-card-actions>
</md-card>